analysis/outputs/.DS_Store
.DS_Store
.ipynb_checkpoints/installer-checkpoint.ipynb
data/constitutions/const_list.json
data/constitutions/constitutions_xml/Afghanistan_1964.xml
data/constitutions/constitutions_xml/Afghanistan_2004.xml
data/constitutions/constitutions_xml/Albania_2008.xml
data/constitutions/constitutions_xml/Albania_2012.xml
data/constitutions/constitutions_xml/Albania_2016.xml
data/constitutions/constitutions_xml/Algeria_2008.xml
data/constitutions/constitutions_xml/Algeria_2016.xml
data/constitutions/constitutions_xml/Algeria_2020.xml
data/constitutions/constitutions_xml/Andorra_1993.xml
data/constitutions/constitutions_xml/Angola_2010.xml
data/constitutions/constitutions_xml/Antigua_and_Barbuda_1981.xml
data/constitutions/constitutions_xml/Argentina_1994.xml
data/constitutions/constitutions_xml/Armenia_2005.xml
data/constitutions/constitutions_xml/Armenia_2015.xml
data/constitutions/constitutions_xml/Australia_1977.xml
data/constitutions/constitutions_xml/Australia_1985.xml
data/constitutions/constitutions_xml/Austria_2009.xml
data/constitutions/constitutions_xml/Austria_2013.xml
data/constitutions/constitutions_xml/Azerbaijan_2009.xml
data/constitutions/constitutions_xml/Azerbaijan_2016.xml
data/constitutions/constitutions_xml/Baden_1818.xml
data/constitutions/constitutions_xml/Bahamas_1973.xml
data/constitutions/constitutions_xml/Bahrain_2002.xml
data/constitutions/constitutions_xml/Bahrain_2012.xml
data/constitutions/constitutions_xml/Bahrain_2017.xml
data/constitutions/constitutions_xml/Bangladesh_2011.xml
data/constitutions/constitutions_xml/Bangladesh_2014.xml
data/constitutions/constitutions_xml/Barbados_2007.xml
data/constitutions/constitutions_xml/Bavaria_1808.xml
data/constitutions/constitutions_xml/Belarus_2004.xml
data/constitutions/constitutions_xml/Belgium_1831.xml
data/constitutions/constitutions_xml/Belgium_2012.xml
data/constitutions/constitutions_xml/Belgium_2014.xml
data/constitutions/constitutions_xml/Belize_2001.xml
data/constitutions/constitutions_xml/Belize_2011.xml
data/constitutions/constitutions_xml/Benin_1990.xml
data/constitutions/constitutions_xml/Bhutan_2008.xml
data/constitutions/constitutions_xml/Bolivia_1826.xml
data/constitutions/constitutions_xml/Bolivia_2009.xml
data/constitutions/constitutions_xml/Bosnia_Herzegovina_2009.xml
data/constitutions/constitutions_xml/Botswana_2002.xml
data/constitutions/constitutions_xml/Botswana_2005.xml
data/constitutions/constitutions_xml/Botswana_2016.xml
data/constitutions/constitutions_xml/Brazil_2005.xml
data/constitutions/constitutions_xml/Brazil_2014.xml
data/constitutions/constitutions_xml/Brazil_2015.xml
data/constitutions/constitutions_xml/Brazil_2017.xml
data/constitutions/constitutions_xml/Brunei_1984.xml
data/constitutions/constitutions_xml/Brunei_2006.xml
data/constitutions/constitutions_xml/Bulgaria_2007.xml
data/constitutions/constitutions_xml/Bulgaria_2015.xml
data/constitutions/constitutions_xml/Burkina_Faso_2012.xml
data/constitutions/constitutions_xml/Burkina_Faso_2015.xml
data/constitutions/constitutions_xml/Burundi_2005.xml
data/constitutions/constitutions_xml/Burundi_2018.xml
data/constitutions/constitutions_xml/Cambodia_1999.xml
data/constitutions/constitutions_xml/Cambodia_2008.xml
data/constitutions/constitutions_xml/Cameroon_2008.xml
data/constitutions/constitutions_xml/Canada_2011.xml
data/constitutions/constitutions_xml/Cape_Verde_1992.xml
data/constitutions/constitutions_xml/Central_African_Republic_2010.xml
data/constitutions/constitutions_xml/Central_African_Republic_2013.xml
data/constitutions/constitutions_xml/Central_African_Republic_2016.xml
data/constitutions/constitutions_xml/Chad_2005.xml
data/constitutions/constitutions_xml/Chad_2015.xml
data/constitutions/constitutions_xml/Chad_2018.xml
data/constitutions/constitutions_xml/Chile_1925.xml
data/constitutions/constitutions_xml/Chile_2012.xml
data/constitutions/constitutions_xml/Chile_2014.xml
data/constitutions/constitutions_xml/Chile_2015.xml
data/constitutions/constitutions_xml/Chile_2018D.xml
data/constitutions/constitutions_xml/Chile_2021.xml
data/constitutions/constitutions_xml/Chile_2022D.xml
data/constitutions/constitutions_xml/Chile_2023D.xml
data/constitutions/constitutions_xml/Chile_2023DD.xml
data/constitutions/constitutions_xml/China_1912.xml
data/constitutions/constitutions_xml/China_2004.xml
data/constitutions/constitutions_xml/China_2018.xml
data/constitutions/constitutions_xml/Colombia_2005.xml
data/constitutions/constitutions_xml/Colombia_2013.xml
data/constitutions/constitutions_xml/Colombia_2015.xml
data/constitutions/constitutions_xml/Comoros_2009.xml
data/constitutions/constitutions_xml/Comoros_2018.xml
data/constitutions/constitutions_xml/Congo_2001.xml
data/constitutions/constitutions_xml/Congo_2015.xml
data/constitutions/constitutions_xml/Costa_Rica_2011.xml
data/constitutions/constitutions_xml/Costa_Rica_2015.xml
data/constitutions/constitutions_xml/Costa_Rica_2020.xml
data/constitutions/constitutions_xml/Cote_DIvoire_2000.xml
data/constitutions/constitutions_xml/Cote_DIvoire_2016.xml
data/constitutions/constitutions_xml/Croatia_2001.xml
data/constitutions/constitutions_xml/Croatia_2010.xml
data/constitutions/constitutions_xml/Croatia_2013.xml
data/constitutions/constitutions_xml/Cuba_2002.xml
data/constitutions/constitutions_xml/Cuba_2018D.xml
data/constitutions/constitutions_xml/Cuba_2019.xml
data/constitutions/constitutions_xml/Cyprus_2013.xml
data/constitutions/constitutions_xml/Czech_Republic_2002.xml
data/constitutions/constitutions_xml/Czech_Republic_2013.xml
data/constitutions/constitutions_xml/Democratic_Republic_of_the_Congo_2011.xml
data/constitutions/constitutions_xml/Denmark_1953.xml
data/constitutions/constitutions_xml/Djibouti_2010.xml
data/constitutions/constitutions_xml/Dominica_1984.xml
data/constitutions/constitutions_xml/Dominica_2014.xml
data/constitutions/constitutions_xml/Dominican_Republic_2010.xml
data/constitutions/constitutions_xml/Dominican_Republic_2015.xml
data/constitutions/constitutions_xml/East_Timor_2002.xml
data/constitutions/constitutions_xml/Ecuador_2008.xml
data/constitutions/constitutions_xml/Ecuador_2011.xml
data/constitutions/constitutions_xml/Ecuador_2015.xml
data/constitutions/constitutions_xml/Ecuador_2021.xml
data/constitutions/constitutions_xml/Egypt_2012.xml
data/constitutions/constitutions_xml/Egypt_2014.xml
data/constitutions/constitutions_xml/Egypt_2019.xml
data/constitutions/constitutions_xml/El_Salvador_2003.xml
data/constitutions/constitutions_xml/El_Salvador_2014.xml
data/constitutions/constitutions_xml/Equatorial_Guinea_1995.xml
data/constitutions/constitutions_xml/Equatorial_Guinea_2012.xml
data/constitutions/constitutions_xml/Eritrea_1997.xml
data/constitutions/constitutions_xml/Estonia_1920.xml
data/constitutions/constitutions_xml/Estonia_2003.xml
data/constitutions/constitutions_xml/Estonia_2011.xml
data/constitutions/constitutions_xml/Estonia_2015.xml
data/constitutions/constitutions_xml/Ethereum_World_2021.xml
data/constitutions/constitutions_xml/Ethiopia_1994.xml
data/constitutions/constitutions_xml/Fiji_2013.xml
data/constitutions/constitutions_xml/Finland_2011.xml
data/constitutions/constitutions_xml/France_2008.xml
data/constitutions/constitutions_xml/Gabon_1997.xml
data/constitutions/constitutions_xml/Gabon_2011.xml
data/constitutions/constitutions_xml/Gambia_2004.xml
data/constitutions/constitutions_xml/Gambia_2018.xml
data/constitutions/constitutions_xml/Gambia_2019D.xml
data/constitutions/constitutions_xml/Gambia_2020D.xml
data/constitutions/constitutions_xml/Georgia_2004.xml
data/constitutions/constitutions_xml/Georgia_2013.xml
data/constitutions/constitutions_xml/Georgia_2018.xml
data/constitutions/constitutions_xml/German_Federal_Republic_2012.xml
data/constitutions/constitutions_xml/German_Federal_Republic_2014.xml
data/constitutions/constitutions_xml/Germany_1919.xml
data/constitutions/constitutions_xml/Germany_Prussia_1919.xml
data/constitutions/constitutions_xml/Ghana_1996.xml
data/constitutions/constitutions_xml/Greece_2008.xml
data/constitutions/constitutions_xml/Grenada_1992.xml
data/constitutions/constitutions_xml/Guatemala_1993.xml
data/constitutions/constitutions_xml/Guinea_2010.xml
data/constitutions/constitutions_xml/Guinea_Bissau_1991.xml
data/constitutions/constitutions_xml/Guinea_Bissau_1996.xml
data/constitutions/constitutions_xml/Guyana_1995.xml
data/constitutions/constitutions_xml/Guyana_2009.xml
data/constitutions/constitutions_xml/Guyana_2016.xml
data/constitutions/constitutions_xml/Haiti_2012.xml
data/constitutions/constitutions_xml/HJRES_2012.xml
data/constitutions/constitutions_xml/Honduras_2012.xml
data/constitutions/constitutions_xml/Honduras_2013.xml
data/constitutions/constitutions_xml/Hungary_2011.xml
data/constitutions/constitutions_xml/Hungary_2013.xml
data/constitutions/constitutions_xml/Hungary_2016.xml
data/constitutions/constitutions_xml/Iceland_1999.xml
data/constitutions/constitutions_xml/Iceland_2011D.xml
data/constitutions/constitutions_xml/Iceland_2013.xml
data/constitutions/constitutions_xml/India_2012.xml
data/constitutions/constitutions_xml/India_2014.xml
data/constitutions/constitutions_xml/India_2015.xml
data/constitutions/constitutions_xml/India_2016.xml
data/constitutions/constitutions_xml/Indonesia_2002.xml
data/constitutions/constitutions_xml/Iran_1989.xml
data/constitutions/constitutions_xml/Iraq_2005.xml
data/constitutions/constitutions_xml/Ireland_2012.xml
data/constitutions/constitutions_xml/Ireland_2015.xml
data/constitutions/constitutions_xml/Ireland_2019.xml
data/constitutions/constitutions_xml/Israel_2013.xml
data/constitutions/constitutions_xml/Italy_2012.xml
data/constitutions/constitutions_xml/Italy_2020.xml
data/constitutions/constitutions_xml/Jamaica_1994.xml
data/constitutions/constitutions_xml/Jamaica_2011.xml
data/constitutions/constitutions_xml/Jamaica_2015.xml
data/constitutions/constitutions_xml/Japan_1889.xml
data/constitutions/constitutions_xml/Japan_1946.xml
data/constitutions/constitutions_xml/Jordan_2011.xml
data/constitutions/constitutions_xml/Jordan_2014.xml
data/constitutions/constitutions_xml/Jordan_2016.xml
data/constitutions/constitutions_xml/Kazakhstan_1998.xml
data/constitutions/constitutions_xml/Kazakhstan_2011.xml
data/constitutions/constitutions_xml/Kazakhstan_2017.xml
data/constitutions/constitutions_xml/Kenya_2010.xml
data/constitutions/constitutions_xml/Kiribati_1995.xml
data/constitutions/constitutions_xml/Kiribati_2013.xml
data/constitutions/constitutions_xml/Kosovo_2008.xml
data/constitutions/constitutions_xml/Kosovo_2016.xml
data/constitutions/constitutions_xml/Kuwait_1992.xml
data/constitutions/constitutions_xml/Kyrgyz_Republic_2010.xml
data/constitutions/constitutions_xml/Kyrgyz_Republic_2016.xml
data/constitutions/constitutions_xml/Laos_2003.xml
data/constitutions/constitutions_xml/Laos_2015.xml
data/constitutions/constitutions_xml/Latvia_2007.xml
data/constitutions/constitutions_xml/Latvia_2014.xml
data/constitutions/constitutions_xml/Latvia_2016.xml
data/constitutions/constitutions_xml/Lebanon_2004.xml
data/constitutions/constitutions_xml/Lesotho_1998.xml
data/constitutions/constitutions_xml/Lesotho_2011.xml
data/constitutions/constitutions_xml/Lesotho_2018.xml
data/constitutions/constitutions_xml/Liberia_1986.xml
data/constitutions/constitutions_xml/Libya_2011.xml
data/constitutions/constitutions_xml/Libya_2012.xml
data/constitutions/constitutions_xml/Libya_2016D.xml
data/constitutions/constitutions_xml/Liechtenstein_2003.xml
data/constitutions/constitutions_xml/Liechtenstein_2011.xml
data/constitutions/constitutions_xml/Lithuania_2006.xml
data/constitutions/constitutions_xml/Lithuania_2019.xml
data/constitutions/constitutions_xml/LongView_Micro_School_2018.xml
data/constitutions/constitutions_xml/Luxembourg_2009.xml
data/constitutions/constitutions_xml/Macedonia_2011.xml
data/constitutions/constitutions_xml/Madagascar_2010.xml
data/constitutions/constitutions_xml/Malawi_1999.xml
data/constitutions/constitutions_xml/Malawi_2017.xml
data/constitutions/constitutions_xml/Malaysia_1996.xml
data/constitutions/constitutions_xml/Malaysia_2007.xml
data/constitutions/constitutions_xml/Maldives_2008.xml
data/constitutions/constitutions_xml/Mali_1992.xml
data/constitutions/constitutions_xml/Malta_2011.xml
data/constitutions/constitutions_xml/Malta_2014.xml
data/constitutions/constitutions_xml/Malta_2016.xml
data/constitutions/constitutions_xml/Mars_2128.xml
data/constitutions/constitutions_xml/Marshall_Islands_1995.xml
data/constitutions/constitutions_xml/Mauritania_2012.xml
data/constitutions/constitutions_xml/Mauritius_2011.xml
data/constitutions/constitutions_xml/Mauritius_2016.xml
data/constitutions/constitutions_xml/Mexico_2007.xml
data/constitutions/constitutions_xml/Mexico_2015.xml
data/constitutions/constitutions_xml/Micronesia_1990.xml
data/constitutions/constitutions_xml/Moldova_2006.xml
data/constitutions/constitutions_xml/Moldova_2016.xml
data/constitutions/constitutions_xml/Monaco_2002.xml
data/constitutions/constitutions_xml/Mongolia_2001.xml
data/constitutions/constitutions_xml/Montenegro_2007.xml
data/constitutions/constitutions_xml/Montenegro_2013.xml
data/constitutions/constitutions_xml/Morocco_2011.xml
data/constitutions/constitutions_xml/Mozambique_2007.xml
data/constitutions/constitutions_xml/Myanmar_2008.xml
data/constitutions/constitutions_xml/Myanmar_2015.xml
data/constitutions/constitutions_xml/Namibia_2010.xml
data/constitutions/constitutions_xml/Namibia_2014.xml
data/constitutions/constitutions_xml/Nauru_1968.xml
data/constitutions/constitutions_xml/Nauru_2015.xml
data/constitutions/constitutions_xml/Nepal_2010.xml
data/constitutions/constitutions_xml/Nepal_2012.xml
data/constitutions/constitutions_xml/Nepal_2015.xml
data/constitutions/constitutions_xml/Nepal_2016.xml
data/constitutions/constitutions_xml/Netherlands_2008.xml
data/constitutions/constitutions_xml/New_Zealand_2014.xml
data/constitutions/constitutions_xml/Nicaragua_2005.xml
data/constitutions/constitutions_xml/Nicaragua_2014.xml
data/constitutions/constitutions_xml/Niger_2010.xml
data/constitutions/constitutions_xml/Niger_2017.xml
data/constitutions/constitutions_xml/Nigeria_1999.xml
data/constitutions/constitutions_xml/Nigeria_2011.xml
data/constitutions/constitutions_xml/Norway_2004.xml
data/constitutions/constitutions_xml/Norway_2014.xml
data/constitutions/constitutions_xml/Norway_2015.xml
data/constitutions/constitutions_xml/Norway_2016.xml
data/constitutions/constitutions_xml/Oman_2011.xml
data/constitutions/constitutions_xml/Pakistan_2012.xml
data/constitutions/constitutions_xml/Pakistan_2015.xml
data/constitutions/constitutions_xml/Pakistan_2017.xml
data/constitutions/constitutions_xml/Pakistan_2018.xml
data/constitutions/constitutions_xml/Palau_1992.xml
data/constitutions/constitutions_xml/Palestine_2005.xml
data/constitutions/constitutions_xml/Panama_2004.xml
data/constitutions/constitutions_xml/Papua_New_Guinea_1991.xml
data/constitutions/constitutions_xml/Papua_New_Guinea_2014.xml
data/constitutions/constitutions_xml/Papua_New_Guinea_2016.xml
data/constitutions/constitutions_xml/Paraguay_2011.xml
data/constitutions/constitutions_xml/Peoples_Republic_of_Korea_1998.xml
data/constitutions/constitutions_xml/Peoples_Republic_of_Korea_2016.xml
data/constitutions/constitutions_xml/Peru_2009.xml
data/constitutions/constitutions_xml/Peru_2021.xml
data/constitutions/constitutions_xml/Philippines_1987.xml
data/constitutions/constitutions_xml/Pocket_Network_2020.xml
data/constitutions/constitutions_xml/Poland_1791.xml
data/constitutions/constitutions_xml/Poland_1997.xml
data/constitutions/constitutions_xml/Poland_2009.xml
data/constitutions/constitutions_xml/Portugal_2005.xml
data/constitutions/constitutions_xml/Qatar_2003.xml
data/constitutions/constitutions_xml/Republic_of_Korea_1987.xml
data/constitutions/constitutions_xml/Romania_2003.xml
data/constitutions/constitutions_xml/Russia_1918.xml
data/constitutions/constitutions_xml/Russia_2008.xml
data/constitutions/constitutions_xml/Russia_2014.xml
data/constitutions/constitutions_xml/Rwanda_2010.xml
data/constitutions/constitutions_xml/Rwanda_2015.xml
data/constitutions/constitutions_xml/Samoa_2010.xml
data/constitutions/constitutions_xml/Samoa_2013.xml
data/constitutions/constitutions_xml/Samoa_2017.xml
data/constitutions/constitutions_xml/Sao_Tome_and_Principe_1990.xml
data/constitutions/constitutions_xml/Sao_Tome_and_Principe_2003.xml
data/constitutions/constitutions_xml/Saudi_Arabia_2005.xml
data/constitutions/constitutions_xml/Saudi_Arabia_2013.xml
data/constitutions/constitutions_xml/Senegal_2009.xml
data/constitutions/constitutions_xml/Senegal_2016.xml
data/constitutions/constitutions_xml/Serbia_2006.xml
data/constitutions/constitutions_xml/Seychelles_2011.xml
data/constitutions/constitutions_xml/Seychelles_2017.xml
data/constitutions/constitutions_xml/Sierra_Leone_2008.xml
data/constitutions/constitutions_xml/Sierra_Leone_2013.xml
data/constitutions/constitutions_xml/Singapore_2010.xml
data/constitutions/constitutions_xml/Singapore_2016.xml
data/constitutions/constitutions_xml/SJRES_2012.xml
data/constitutions/constitutions_xml/SJRES_2013.xml
data/constitutions/constitutions_xml/SJRES_2019.xml
data/constitutions/constitutions_xml/Slovakia_2001.xml
data/constitutions/constitutions_xml/Slovakia_2014.xml
data/constitutions/constitutions_xml/Slovakia_2017.xml
data/constitutions/constitutions_xml/Slovenia_2013.xml
data/constitutions/constitutions_xml/Slovenia_2016(1).xml
data/constitutions/constitutions_xml/Slovenia_2016.xml
data/constitutions/constitutions_xml/Socialist_Republic_of_Vietnam_2001.xml
data/constitutions/constitutions_xml/Socialist_Republic_of_Vietnam_2013.xml
data/constitutions/constitutions_xml/Solomon_Islands_2009.xml
data/constitutions/constitutions_xml/Solomon_Islands_2014.xml
data/constitutions/constitutions_xml/Solomon_Islands_2018.xml
data/constitutions/constitutions_xml/Somalia_2012.xml
data/constitutions/constitutions_xml/Somaliland_2017D.xml
data/constitutions/constitutions_xml/South_Africa_2012.xml
data/constitutions/constitutions_xml/South_Sudan_2011.xml
data/constitutions/constitutions_xml/South_Sudan_2013.xml
data/constitutions/constitutions_xml/Spain_1812.xml
data/constitutions/constitutions_xml/Spain_1837.xml
data/constitutions/constitutions_xml/Spain_2011.xml
data/constitutions/constitutions_xml/Sri_Lanka_2010.xml
data/constitutions/constitutions_xml/Sri_Lanka_2015.xml
data/constitutions/constitutions_xml/St_Kitts_and_Nevis_1983.xml
data/constitutions/constitutions_xml/St_Lucia_1978.xml
data/constitutions/constitutions_xml/St_Vincent_and_the_Grenadines_1979.xml
data/constitutions/constitutions_xml/Sudan_2005.xml
data/constitutions/constitutions_xml/Sudan_2019.xml
data/constitutions/constitutions_xml/Surinam_1992.xml
data/constitutions/constitutions_xml/Swaziland_2005.xml
data/constitutions/constitutions_xml/Sweden_2012.xml
data/constitutions/constitutions_xml/Switzerland_2002.xml
data/constitutions/constitutions_xml/Switzerland_2014.xml
data/constitutions/constitutions_xml/Syria_2012.xml
data/constitutions/constitutions_xml/Syria_2017D.xml
data/constitutions/constitutions_xml/Taiwan_2005.xml
data/constitutions/constitutions_xml/Tajikistan_2003.xml
data/constitutions/constitutions_xml/Tajikistan_2016.xml
data/constitutions/constitutions_xml/Tanzania_1995.xml
data/constitutions/constitutions_xml/Tanzania_2005.xml
data/constitutions/constitutions_xml/Thailand_2007.xml
data/constitutions/constitutions_xml/Thailand_2014.xml
data/constitutions/constitutions_xml/Thailand_2017.xml
data/constitutions/constitutions_xml/Togo_2007.xml
data/constitutions/constitutions_xml/Tonga_1988.xml
data/constitutions/constitutions_xml/Tonga_2013.xml
data/constitutions/constitutions_xml/Trinidad_and_Tobago_2007.xml
data/constitutions/constitutions_xml/Tunisia_2008.xml
data/constitutions/constitutions_xml/Tunisia_2014.xml
data/constitutions/constitutions_xml/Tunisia_2022D.xml
data/constitutions/constitutions_xml/Turkey_2002.xml
data/constitutions/constitutions_xml/Turkey_2011.xml
data/constitutions/constitutions_xml/Turkey_2017.xml
data/constitutions/constitutions_xml/Turkmenistan_2008.xml
data/constitutions/constitutions_xml/Turkmenistan_2016.xml
data/constitutions/constitutions_xml/Tuvalu_1986.xml
data/constitutions/constitutions_xml/Tuvalu_2010.xml
data/constitutions/constitutions_xml/Uganda_2005.xml
data/constitutions/constitutions_xml/Uganda_2017.xml
data/constitutions/constitutions_xml/Ukraine_2004.xml
data/constitutions/constitutions_xml/Ukraine_2014.xml
data/constitutions/constitutions_xml/Ukraine_2016.xml
data/constitutions/constitutions_xml/Ukraine_2019.xml
data/constitutions/constitutions_xml/United_Arab_Emirates_2004.xml
data/constitutions/constitutions_xml/United_Arab_Emirates_2009.xml
data/constitutions/constitutions_xml/United_Kingdom_2013.xml
data/constitutions/constitutions_xml/United_States_of_America_1992.xml
data/constitutions/constitutions_xml/Uruguay_2004.xml
data/constitutions/constitutions_xml/USProposals_2012.xml
data/constitutions/constitutions_xml/Uzbekistan_1992.xml
data/constitutions/constitutions_xml/Uzbekistan_2011.xml
data/constitutions/constitutions_xml/Vanuatu_1983.xml
data/constitutions/constitutions_xml/Vanuatu_2013.xml
data/constitutions/constitutions_xml/Venezuela_2009.xml
data/constitutions/constitutions_xml/Yemen_2001.xml
data/constitutions/constitutions_xml/Yemen_2015.xml
data/constitutions/constitutions_xml/Yemen_2015D.xml
data/constitutions/constitutions_xml/Zambia_2009.xml
data/constitutions/constitutions_xml/Zambia_2016.xml
data/constitutions/constitutions_xml/Zimbabwe_2013.xml
data/constitutions/constitutions_xml/Zimbabwe_2017.xml
data/ontologies/CCP-FACET/metadata.csv
data/ontologies/CCP-FACET/ontology.csv
data/ontologies/CCP-FACET/README.md
data/ontologies/IDEA-GLO/metadata.csv
data/ontologies/IDEA-GLO/ontology.csv
data/ontologies/IDEA-GLO/README.md
data/ontologies/NC-DCC/metadata.csv
data/ontologies/NC-DCC/ontology.csv
data/ontologies/NC-DCC/README.md
use_ml_3/saved_model.pb
use_ml_3/variables/variables.data-00000-of-00001
use_ml_3/variables/variables.index
processing/error_list.json
model/encoded_segments.json
model/sat_segments_dict.json
model/segment_encodings.json
model/segments_dict.json
processing/__pycache__/nlp.cpython-39.pyc
processing/__pycache__/packages.cpython-39.pyc
processing/__pycache__/process_ontologies.cpython-39.pyc
processing/__pycache__/process_sections.cpython-39.pyc
processing/__pycache__/semantic.cpython-39.pyc
processing/__pycache__/nlp.cpython-39.pyc
processing/__pycache__/packages.cpython-39.pyc
processing/__pycache__/process_ontologies.cpython-39.pyc
processing/__pycache__/semantic.cpython-39.pyc
model/CCP-FACET_encoded_topics.json
model/CCP-FACET_topic_encodings.json
model/CCP-FACET_topic_segment_matrix.json
model/CCP-FACET_topics_dict.json
model/IDEA-GLO_encoded_topics.json
model/IDEA-GLO_topic_encodings.json
model/IDEA-GLO_topic_segment_matrix.json
model/IDEA-GLO_topics_dict.json
model/NC-DCC_encoded_topics.json
model/NC-DCC_topic_encodings.json
model/NC-DCC_topic_segment_matrix.json
model/NC-DCC_topics_dict.json
processing/__pycache__/process_ontologies.cpython-39.pyc
processing/__pycache__/semantic.cpython-39.pyc
processing/__pycache__/process_ontologies.cpython-39.pyc
processing/__pycache__/semantic.cpython-39.pyc
analysis/.ipynb_checkpoints/relational_analysis-checkpoint.ipynb
analysis/_library/__pycache__/packages.cpython-39.pyc
processing/__pycache__/process_ontologies.cpython-39.pyc
processing/__pycache__/semantic.cpython-39.pyc
data/ontologies/FJC-IDB/metadata.csv
data/ontologies/FJC-IDB/ontology.csv
data/ontologies/GLOBALCIT-GLO/metadata.csv
data/ontologies/GLOBALCIT-GLO/ontology.csv
data/ontologies/IDEA-DT/metadata.csv
data/ontologies/IDEA-DT/ontology.csv
data/ontologies/JUON-CPSD/metadata.csv
data/ontologies/JUON-CPSD/ontology.csv
data/ontologies/STROM-IDC/metadata.csv
data/ontologies/STROM-IDC/ontology.csv
model/FJC-IDB_encoded_topics.json
model/FJC-IDB_topic_encodings.json
model/FJC-IDB_topic_segment_matrix.json
model/FJC-IDB_topics_dict.json
model/GLOBALCIT-GLO_encoded_topics.json
model/GLOBALCIT-GLO_topic_encodings.json
model/GLOBALCIT-GLO_topic_segment_matrix.json
model/GLOBALCIT-GLO_topics_dict.json
model/IDEA-DT_encoded_topics.json
model/IDEA-DT_topic_encodings.json
model/IDEA-DT_topic_segment_matrix.json
model/IDEA-DT_topics_dict.json
model/JUON-CPSD_encoded_topics.json
model/JUON-CPSD_topic_encodings.json
model/JUON-CPSD_topic_segment_matrix.json
model/JUON-CPSD_topics_dict.json
model/ontologies_dict.json
model/STROM-IDC_encoded_topics.json
model/STROM-IDC_topic_encodings.json
model/STROM-IDC_topic_segment_matrix.json
model/STROM-IDC_topics_dict.json
processing/__pycache__/process_ontologies.cpython-39.pyc
processing/__pycache__/semantic.cpython-39.pyc
use-4/saved_model.pb
use-4/variables/variables.data-00000-of-00001
use-4/variables/variables.index
